@{
   Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Pinteres";  
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    
</hgroup>
 <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
        <style>
            text{
      font-family: 'Sofia';font-size: 100px;text-align: center;  
    }
        </style>
    </head>
    <body>
  <a data-pin-do="embedBoard" data-pin-lang="de" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.de/grazynaselbach/prywatne/"></a>
     <a href="https://api.pinterest.com/v1/boards/?access_token=&fields=id%2Cname%2Curl"></a>
        <a href="https://api.pinterest.com/v1/users/Grazyna/?access_token=AcJGgFXmkYP1SHNWprFly6tGjgl-FO75oCxM5wFEaChKmCArJwAAAAA&fields=first_name%2Cid%2Clast_name%2Curl"></a>
        <a href="https://www.pinterest.com/pin/99360735500167749/"></a>
        <a data-pin-do="embedPin" data-pin-lang="de" href="https://www.pinterest.com/pin/99360735500167749/"></a>

<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<a data-pin-do="buttonBookmark" data-pin-custom="true" href="https://www.pinterest.com/pin/create/button/Grazyna"><img alt="#"src="ome!po" height="25"/>button</a>
<a data-pin-do="embedBoard" data-pin-lang="de" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/pinterest/official-news/"></a>
<a href="https://www.pinterest.com/grazynaselbach/"></a>
        <a data-pin-do="embedUser" data-pin-lang="de" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/grazynaselbach/"></a>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script>
 
    

 </script>
         <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fpiekno.jestwnas.9%2Fvideos%2F744244359106363%2F&show_text=1&width=560" width="560" height="512" style="border:none;overflow:hidden"></iframe>

    
    </body>
</html>
