@{
      Page.Title = "strona po wylogowaniu";  
}
<hgroup class="title">

   
</hgroup>
<link href="~/animated_favicon1.gif" rel="animated_favicon1 icon" type="image/x-icon"/>
<style>
title {
    display: none;
}
h1.hidden{
    display: none;
}

div.background
{
  width: 100%;
  height: 675px;
  background: url(IMG0006.jpg) repeat;
 
  background-size: 100% 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    text-align: center;
    color: #4800ff;
    float: left;
}

a:link, a:visited{
    display: block;
    width: 120px;
    font-weight: bold;
    color: #808080;
    background-color: none;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: none;
}

a:hover, a:active{
    background-color: none;
}
img src screenshot-2{
           text-align: center;      
             }
#logo omepos{
           text-align: center     
            }
p{
          text-align: center;
          color: #808080     
            }            
 /* unvisited link */
a:link{
    color: #FF0000;
}

skryp type{
           text-align: center;      
             }         
</style>
</head>

    <body>
        <p class="serif"></p>

      <div class="background">
<div class="transbox">
<div>
<a href="../Starterseite.cshtml"></a>
  </div>
     
 <ul>
    <li><a href="~/index.cshtml"></a></li></ul>

            <div class="content-wrapper"></div>
                <div class="float-left">
                    <div class="center"><a href="http://localhost:7184" title="ome!pos"><img src="ome!pos.pgn.png " alt="100%" style="border:none"/></a></div>
                    <script type="text/javascript" src="http://jd.revolvermaps.com/2/1.js?i=3hiwbskjqyq&amp;s=220&amp;m=0&amp;v=false&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script>
                    </div>

          </div>  
</div>
         <p>&copy; @DateTime.Now.Year - Copyright <img src='ome!pos.pgn.png'alt="..." style='width:80px;border-radius: 50px 50px 50px 50px;'/></p>
     
    </body>
</html>