@{
Layout = "~/_SiteLayout.cshtml";
    Page.Title = "strona dla uzytkownika";

    }

 <hgroup class="title">
    
    
</hgroup>
<link href="~/animated_favicon1.gif" rel="animated_favicon1.gif" type="image/x-icon"/>

<!-- Füge die folgenden drei Tags in den head-Abschnitt ein. -->
<meta itemprop="name" content="ome!pos"/>
<meta itemprop="description" content="Spolecznosc"/>
<meta itemprop="image" content="url(widok1.jpg)"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<script type="text/javascript" charset="iso-8859-2" src="news.js"></script>
<link href="~/animated_favicon1.gif" rel="animated_favicon1 ico" type="image/x-icon"/>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"/>
<link rel="rss" href="http://www.aweber.com/blog/feed/"/>
<link href='https://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/><style>
html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif;}
.w3-sidenav a {padding:16px;}
</style>

    

    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        var txt = "";
        txt += "Width of div: " + $("#div1").width() + "</br>";
        txt += "Height of div: " + $("#div1").height();
        $("#div1").html(txt);
        $("#a href").html(buton)
    });
});
</script>



<link href="~/animated_favicon1.gif" rel="animated_favicon1 ico" type="image/x-icon"/>



    <style>
        body {margin:0;}
      ol {
        list-style-type:none;
        padding: 36px 16px;
        margin-top: 0px;
        width: 100%;
        font-size:14px;
        height:02em;
        line-height:1em;
        text-align:center;
        background-color: none;
        float: left;
        position: fixed;
        background-image:url(cats2.jpg);
        z-index: 1;
        float: right;
        display: block;
        top: 0;
        left: 0;
        right: 0;
 }

      ol a {
        display:inline;
        text-decoration:none;
        background: none;
       
        width: 70px;
      }
a:hover, a:active{
    background: none;
}
     
        ol > li {
            float: left;
            width: 90px;
            margin-left: 1px;
            background: none;
  }
        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: none;
}
       img src{
            border-radius: 0px 0px 0px 0px;
            position: absolute;
            left: 300px;
            top: 0px;
            z-index: 1;
           
        top: 0;
        left: 0;
        right: 0;
        }
     /* wygląd elementu - li - pierwszego dziecka elementu - ol */
      ol > li:first-child {
        margin-left:0;
        background: none;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover {
        background: none;
      }

      /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover > a {
        color:#09C;
        background: none;
      }

      /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      ol > li:hover > ul {
        display:block;
        margin: 10px;
        background-color:#FFF;
       
       
        border-radius: 2px 2px 2px 2px;
      
      }
        
        a{
            background: none;
        } 
    /* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

      /* wygląd głównych rozwijanych elementów - ul */
      ol > li > ul {
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
        background: none;
        
      }

      /* wygląd elementu - li - w części rozwijanej */
      ol > li > ul > li {
        position:relative;
        background: none;
      }

      /* wygląd elementu - a - w części rozwijanej */
      ol > li > ul > li > a {
       background: none; 
      }

      /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
      ol > li > ul > li:hover {
        background: none;
      }

      /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
      ol > li > ul > li:hover > a {
        color:#09C;

        background: none;
        text-decoration: underline;
      }  

     ul class socials{
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
        background: none;
        box-shadow: 1px 1px 1px 1px #808080;
        }
    
   p {
            text-align: center;
            
            
            background: none;
            resize: vertical;
            overflow: auto;
            
            
        }

a{
            background: none;
        }

if post{
        margin: 60px 20px 02px 60px;
        resize: vertical;
        
        background: none;    
        }


        if IsPost{
            left: -825px;
            resize: vertical;
            
            background: none;
        }
       


        h1.hidden{
            display: inline
        }
  script{
          margin:-908px 600px 02px 305px;  
        }
 img.top {
    vertical-align: text-top;
}
#nav {
    
    background-color:#eeeeee;
    
    width:242px;
    float:left;
    
    text-align: center;
    resize: vertical;
    
    border-radius: 5px 5px 5px 5px;
    border: 001px solid lightblue;
    resize: vertical;
    background-color: #FFF;
    float: right;
    float: left;
    margin: auto;
    height: auto;       
}
   #nav1 {}        
       
        .flex-item{
          background-color: #0ff;
          
          height: 5px;
          margin: 0px;
          margin-top: 18px;
          
        }
       
 .topnav a:hover {
  border-bottom:3px solid aqua;         
            }
.topnav a.active {
  border-bottom: 3px solid aqua;              
            }
  
       
        socials{
            width: 120px;
            padding:0 100px;
            height: 60px;
            
        }
        
  
   
        /* unvisited link */
a:link {
    color: #808080;
}       
 #div1{
       background-color: #FFF;
       width:242px;
       
       margin: 01px 20px 02px 10px;
       border-radius: 5px 5px 5px 5px;
       box-shadow: 02px 02px 5px #888888;
       background-color: #FFF;
       border: 01px solid navy;
       resize: vertical;
       overflow: auto;    
    }              
</style>

<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>
<script>
    function myFunction() {
        var myStarteSite = strona.dla.uzytkownika.open
        ev.preventStronaDlaUzytkownika(document.getElementById(Date));
    }
</script>



    
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '785616684827268',
      xfbml      : true,
      version    : 'v2.2'

    });

    // ADD ADDITIONAL FACEBOOK CODE HERE
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

       

         
  <script type="text/javascript">
  //<!--
  $(document).ready(function() {
    $(".w2bslikebox").hover(function() {
      $(this).stop().animate({
        right: "0"}
                             , "medium");
    }, function() {
      $(this).stop().animate({
        right: "-250"}
                             , "medium");
    }, 500);
  });
  
</script>
      <body>
<div class="fb-video" data-href="http://localhost:37328" data-width="450"style="display: none"></div>
<div class="fb-post" data-href="https://localhost:37328/posts/" data-width="450"></div>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PKRFMW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PKRFMW');</script>
<!-- End Google Tag Manager --> 
           
    <div class="ex1">
 <a href="#"></a>
        <a href="#"></a>

        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>  
 
<a href="../Strona po wylogowaniu.cshtml"></a>
<a href="../Endecken"></a>
          
  <div class="ex1">     
  <ol>
    <li><a href="~/Account.cshtml"></a>
    <li><a href="~/strona po wylogowaniu">Starter </a>
    <ul class='flex-item'style="background-color: #0ff;width: 90px;margin-left: 0">
        <li class="flex-item"></li>
    </ul>  

    <li><a href="~/Mitteilungen.cshtml">Mitteilungen</a>
     <ul class='flex-item'style="background-color: #0ff;width: 90px;margin-left: auto">
         <li class="flex-item"></li>
         
   </ul>
    <li><a href="~/Entdecken.cshtml">Entdeken</a>
    <ul class='flex-item'style="background-color: #0ff;width: 90px;margin-left: auto">
         <li class="flex-item"></li>

   </ul>
    <li><a class="emaill" href="~/Account/Manage" title="Manage"style="margin-left:330px">@WebSecurity.CurrentUserName</a>
        

        
      
 
        
      <li><a href="#search"><form action="https://cse.google.com/" id="cref">
 <input name="cref" type="hidden" value="http://www.guha.com/cref_cse.xml">
  <input name="q" size="40" type="text"style="position:absolute;border-radius:50px 50px 50px 50px;margin-top: -30px;width: 220px;margin-left: -80px;display: flexbox;">
 <input name="sa" type="submit" value=""style="position:absolute;border-radius:50px 50px 50px 50px;margin-top: -22px;line-height:0em;margin-left: 120px"class="ex8;"><i class="material-icons">zoom_out</i>
 </form></a>
       
         <li><a class="ex4"><i class="fa fa-ellipsis-h"style="margin-left: 80px;margin-top: 10px"></i></a>    
             <ul class='socials'style="box-shadow: 1px 1px 1px 1px #808080; width: 150px;text-align: center;height:200px;line-height: 1.8; margin-left: 37px">
        <li><a href="~/Account.cshtml"></a>
        <li><a href="pinterest.cshtml">Pinterest</a></li>
        <li><a href="Photos.cshtml"></a></li>
        <li><a href="mojaZakladka">Zakladka</a></li>
        <li><a href="strona dla uzytkownika">Dom</a></li>
        <li><a href="strona po wylogowaniu.cshtml">Abmelden</a></li>
        <li><a href="https://twitter.com/intent/tweet?partner=archive"title="Neuen Tweet verfassen" target="_blank"><span class="hidden-elements">Neuen Tweet</span></a></li>
         </ul>
                  </ol>  
                    </div></div>
          <div class="search"style="position:absolute;width: 300px;margin-left: 670px;margin-top: 0px">
            <script>
  (function() {
    var cx = '000646284421202070801:dy3awpe0nac';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>



<gcse:search></gcse:search>
          </div>
    <h4 id="fb-welcome"style="position:absolute;margin-left: 700px;margin-top: -10px;z-index: 1"></h4> 
    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="true"style="margin-top:-30px;margin-left: 700px "></div>
      
<a href="https://docs.google.com/spreadsheets/d/1PZeg7YjUJc6STzUuFfxS-d-NGlIq1moYOSTXwqjvIKM/edit?disco=AAAAAZIkHlQ#gid=1926283201"></a>   
  <div id="cse-search-results">
<script type="text/javascript">
  var googleSearchIframeName = "cse-search-results";
  var googleSearchFormName = "cse-search-box";
  var googleSearchFrameWidth = 600;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";
</script>
<script  type = "text/javascript"  src = "https://apis.google.com/js/plusone.js"></script> 
<g:plus  href = "https://plus.google.com/ {profileId} "  rel = "author"style="background-repeat: no-repeat;background-attachment: fixed;z-index: 1">
    </g:plus>
 <!-- Fügen Sie dieses Tag an der Stelle ein, an der die Widget erscheinen soll. -->
 <!-- Google CSE Search Box Begins -->
 <!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
 <!-- The terms of service are available at https://www.google.com/support/customsearch/bin/answer.py?answer=1714300 -->
 <form action="http://www.guha.com/results.html" id="cref_iframe">
 <input name="cref" type="hidden" value="http://www.guha.com/cref_cse.xml">
 <input name="cof" type="hidden" value="FORID:9">
 </form>
 <script src="'/cse'/brand'?form='cref_iframe" type="text/javascript"></script>
 <!-- Google CSE Search Box Ends --> 

<script type="text/javascript" src="//www.google.com/afsonline/show_afs_search.js"></script>
</div>

<div id="socials">
   

</div>


   <section>
    
    <div style="background-color: #FFF;width: 242px;height:120px;margin:-100px 20px 02px 10px;border-radius: 5px 5px 5px 5px;border: 001px solid lightblue;resize: vertical;">
<img alt="#"src="P8090150.jpg"style="width: 242px">

    </div>
<div style="display:inline-block;width:242px;margin-left: 10px;margin-top: 75px"><script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0jnu38ldnpf&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async"></script></div>
   </section>
        <a class="emaill" href="~/Account/Manage" title="Manage"style="visibility: hidden">@WebSecurity.CurrentUserName</a>
    <div class="content-wrapper"></div>
    <div class="float-left">
</div>

       <div id="nav"style="margin-top: -10px;margin-left: 9px">
    <div id="div"class="one"><b></b>
     <a style="color: #808080;font-size: 12px" href="Default.cshtml"><p>&copy; @DateTime.Now.Year - Copyright ome!pos</a>
        <a style="color: #09C;font-size: 12px" href="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg">twitter:image.</a>
        <a style="color: #09C;font-size: 12px" href="http://bits.blogs.nytimes.com/2011/12/08/a-twitter-for-my-sister/">blogs.</a>  
        <a style="color: #09C;font-size: 12px" href="http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg">image.</a>
        <a style="color: #09C;font-size: 12px" href="http://www.w3schools.com/w3css/default.asp">w3schools.</a>
        <a style="color: #09C;font-size: 12px" href="http://www.asp.net/web-pages/overview/getting-started/13-adding-social-networking-to-your-web-site">asp.net.</a>
        <a style="color: #09C;font-size: 12px" href="https://myaccount.google.com/privacy?pli=1">myaccount.</a>
        <a style="color: #09C;font-size: 12px" href="http://bloog.pl/logowanie.html?url=http%3A%2F%2Fbloog.pl%2Fadm_lista_wpisow.html%3F&smoybbtticaid=5167b2">bloog.pl.</a>
        <a style="color: #09C;font-size: 12px" href="http://ulub.pl/">ulubione.</a>
        <a style="color: #09C;font-size: 12px" href="http://www.microsoft.com/web/webmatrix/">webmatrix.</a>
        <a style="color: #09C;font-size: 12px" href="https://en.gravatar.com/site/login#contact-information">gravatar.</a>  
    </div>
    </div>
    <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
       <div id="nav"style="margin-left: -242px;margin-top: 130px;width: 242px;background-color: #cff3e7;color: #55bc49; resize: vertical;overflow: auto;display: flexbox;"><b>Ey!</b>
       
        <a data-pin-do="embedUser" data-pin-lang="de" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"style="overflow: auto; resize: vertical;display: flexbox;" href="https://www.pinterest.com/grazynaselbach/"></a>
      </div>
     
    </div>
      </div>
        </div>
    
    <div class="container">
    <div style="color: #09C;width: 120px;margin-left: 720px;margin-top: -307px;padding: 50px;background-image: url()"></div>
    
  </div>
  
     <!-- Write your comments here -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5012968b5be75853" async="async"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="fb-comments" data-href="http://localhost:37328"data-width="400" data-numposts="5" data-colorscheme="light"style="margin:-130px 10px 100px 10px;background-color: #FFF"></div>
<div class="fb-facepile" data-app-id="785616684827268" data-href="https://localhost:37328" data-max-rows="1" data-colorscheme="light" data-size="medium" data-show-count="true"></div>



    <div class="w3-container"style="position: fixed;">
        <a class="w3-btn-floating w3-ripple w3-teal"href="#top"style="margin-left: 850px;opacity:0.6">+</a>
    </div>
<!-- Fügen Sie dieses Tag in den head-Abschnitt oder direkt vor dem schließenden body-Tag ein. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'de'}
</script>

 <blockquote class="twitter-tweet"lang="en"><p></p></blockquote>
        <script async src="//platform.twitter.com/widgets"charset="utf-8"></script>
        <blockquote class="twitter-tweet"data-link-color="#55acee" lang="es"></blockquote>


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'omepos';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://localhost:37328/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<form action="action_page.php"></form>
<form action="action_page.php" method="POST"></form>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

 <script> 
(function() { 
var v = document.createElement('script'); v.async = true; 
v.src = "http://assets-prod.vicomi.com/vicomi.js"; 
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(v, s); 
})(); 
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.7&appId=785616684827268";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="true"></div>
  

<div id="vc-feelback-main" data-access-token="2b67a5af989e4af78288526c69c3a492" data-display-type="4"></div> 


<script> 
(function() { 
var v = document.createElement('script'); v.async = true; 
v.src = "http://assets-prod.vicomi.com/vicomi.js"; 
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(v, s); 
})(); 
</script>
<script> 
(function() { 
var v = document.createElement('script'); v.async = true; 
v.src = "http://assets-prod.vicomi.com/vicomi.js"; 
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(v, s); 
})(); 
</script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5012968b5be75853" async="async"></script>
<p id="demo"></p>



    
    <script>
      $(document).ready(function() {
        // Execute some code here
      });
    </script>



    
    
    <a class="twitter-follow-button"
  href="https://twitter.com/GrazynaSelbach"
  data-size="large">
</a>
    <blockquote class="twitter-tweet" data-lang="en">
  <p lang="en" dir="ltr"></p>&mdash;<a href="https://twitter.com/GrazynaSelbach"style=""></a>
</blockquote></a>
<script>
    twttr.widgets.createTweet(
  "20",
  document.getElementById("tweet-container"),
  {
    linkColor: "#55acee"
  }
);
</script>
        <style>
            twttr.widgets.createTweet{
                width:20px;
                column-rule-color: #55acee;
            }
        </style>
        
        <a href="https://twitter.com/socialmediguru" data-show-count="false" data-lang="de"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="socialmediguru" data-lang="de" data-count="none"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>
    // Place following code after FB.init call.
function onLogin(response) {
  if (response.status == 'connected') {
    FB.api('/me?fields=first_name', function(data) {
      var welcomeBlock = document.getElementById('fb-welcome');
      welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
    });
  }
}

FB.getLoginStatus(function(response) {
  // Check login status on load, and if the user is
  // already logged in, go directly to the welcome message.
  if (response.status == 'connected') {
    onLogin(response);
  } else {
    // Otherwise, show Login dialog first.
    FB.login(function(response) {
      onLogin(response);
    }, {scope: 'user_friends, email'});
  }
});
    </script>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '785616684827268',
      xfbml      : true,
      version    : 'v2.7'
    });

    // ADD ADDITIONAL FACEBOOK CODE HERE
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <h1 id="fb-welcome"></h1>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_recommended_vertical"></div>
<!----><div id="785616684827268" class="saleTextWidget" style="display: none"><a title="omepos" href="http://localhost:37328"></a><script charset="UTF-8" type="text/javascript" src="http://webfrik.pl/widget/text-script?ath=w&saletext=Witamy%20na%20naszej%20stronie%20spolecznosciowej%20i%20zyczymy%20dobrej%20zabawy%20ome!pos&amp;bgcolor=rgb(255, 255, 255)&amp;color=rgb(0, 0, 0)&amp;size=sm&amp;pos=bottom"></script></div><!-- end text widget -->
<script>
 twttr.ready(function(twttr){
  twttr.widgets.createTimeline(
    {
      sourceType: "collection",
      id: "539487832448843776"
    },
    document.getElementById("container")
  );
});
</script>
  <!-- SnapWidget -->

</body>
</html>

            


            

               