@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"class="w3-container">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
         <meta charset="utf-8">
    <title>TweetDeck</title>
    <meta name="application-name" content="TweetDeck">
    <meta name="description" content="TweetDeck is your personal browser for staying in touch with what’s happening now.">
    <meta name="google-site-verification" content="iRydaBWEj10Hm3eYAzcLGzq1Rc8TV_OesotK-wzhfbw">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"> <!-- Enable Chrome Frame -->
    <meta http-equiv="Default-Style" content="dark">
    <!-- CSS -->
    <link rel="stylesheet" href="https://ton.twimg.com/tweetdeck-web/web/css/font.5ef884f9f9.css">
    <link rel="stylesheet" href="https://ton.twimg.com/tweetdeck-web/web/css/app-dark.680a68b2cb.css" title="dark">
    <link rel="stylesheet" href="https://ton.twimg.com/tweetdeck-web/web/css/app-light.2fa9da2063.css" title="light">
    <!-- Icons -->
    <link rel="shortcut icon" href="https://ton.twimg.com/tweetdeck-web/web/assets/logos/favicon.3d5d8f1cbe.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="https://ton.twimg.com/tweetdeck-web/web/assets/logos/ios-icon-iphone.ccf764d869.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://ton.twimg.com/tweetdeck-web/web/assets/logos/ios-icon-ipad.472ca78843.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://ton.twimg.com/tweetdeck-web/web/assets/logos/ios-icon-iphone@2x.cbb8d45511.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://ton.twimg.com/tweetdeck-web/web/assets/logos/ios-icon-ipad@2x.ad95c7acec.png">
    </head>

    <body>
<br>
</script></a></p>
  @for(var i = 0; i >10000; i++)
{
<p>@i</p>
}
 <a href="javascript:void(0)"class="" onclick="document.getElementById('id01').style.display='block'"><i class="material-icons"onclick="myFunction()">0</i></i></i></a>                <!-- Modal that pops up when you click on "New Message" -->
<div id="id01" class="w3-modal" style="z-index:4">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-padding w3-gri">
       <span onclick="document.getElementById('id01').style.display='none'" class="w3-right w3-xxlarge w3-closebtn">×</span>
      
    </div>
    <div class="w3-container">
      <form class="w3-container">
        <p>
        <textarea class="w3-input  w3-border" style="height:200px" placeholder="What's on your mind?"></textarea>
        </p>
         
        <p>
        <a class="w3-btn w3-large w3-right w3-light-grey" onclick="document.getElementById('id01').style.display='none'">Cancel<i class="fa fa-remove"></i></a>
        <a class="w3-btn w3-large w3-right w3-light-grey" onclick="document.getElementById('id01').style.display='none'">Send<i class="fa fa-paper-plane"></i></a> 
        </p>
      </form>   
    </div>
  </div>
</div>

<!-- Overlay effect when opening the side navigation on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()"></div>
<div id="socials">
</div> 
      <audio style="display:none" preload="auto" id="update-sound" >
        <source src="https://ton.twimg.com/tweetdeck-web/web/assets/sounds/tweet.e90f4eecda.mp3" type="audio/mp3">
        
    </audio>

    <div class="js-app-loading login-container">
        <div class="ovl-plain txt-center block">
            <div class="ovl-block sign-in">
                <div class="js-signin-ui txt-center block">
                    <img src="https://ton.twimg.com/tweetdeck-web/web/assets/global/backgrounds/spinner_blue.afb15f700b.gif" alt="Loading&hellip;" class="spinner-centered">
                </div>
            </div>
        </div>
    </div>

    <div class="js-message-banner message-banner is-hidden"></div>
    <div class="js-app application is-hidden"></div>
    <div class="js-modals-container"></div>

    <script src="https://ton.twimg.com/tweetdeck-web/web/assets/assets_overlay.4603b7ba05.js"></script>
    <script src="https://ton.twimg.com/tweetdeck-web/web/dist/vendor.95ce205d2d.js"></script>
    <script src="https://ton.twimg.com/tweetdeck-web/web/dist/bundle.7be65d26f3.js"></script>
    <script src="https://ton.twimg.com/tweetdeck-web/web/scripts/google_analytics.4a354c1e82.js"></script>             <script>
  (function() {
    var cx = '000646284421202070801:dy3awpe0nac';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>  
    </body>
</html>
