<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
 
<nav>
  <a href="/"{% if page.url == "/" %}>Home</a>
  <a href="/about.html"{% if page.url == "/about.html" %}>About</a>
  <a href="/LICENSE"{% if page.url == "/License.html" %}style="font-size: 12px;color: red;"{% endif %}">LICENSE</a>
  <a href="/Regolamin"{% if page.url == "/Regolamin.html" %}style="font-size: 12px;color: red;"{% endif %}">Regolamin</a>
  <a href="/Contact"{% if page.url == "/Contact.html" %}style="font-size: 12px;color: red;"{% endif %}">Contakt</a>
  <a href="/Praca"{% if page.url == "/Praca.html" %}style="font-size: 12px;color: red;"{% endif %}">Praca</a>
  <a href="/Forum"{% if page.url == "/Forum.html" %}style="font-size: 12px;color: red;"{% endif %}">Forum</a>
  <a href="/Photolio"{% if page.url == "/Photolio.html" %}style="font-size: 12px;color: red;"{% endif %}">Photolio</a>
  <a href="/Zdjecia"{% if page.url == "/Zdjecia.html" %}style="font-size: 12px;color: red;"{% endif %}">Fotografia</a>
  <a href="/termsfeed-html-privacy-policy-english.html.cshtml"style="font-size: 12px"{% if page.url == "/Privacy policy.html" %}>Privacy Policy</a>
  <a href="/twitter strona.cshtml"style="font-size: 12px;color: red;"{% endif %}">Twitter przegląd</a>
  <a href="/Endecken"{% if page.url == "/Endecken.html" %}></a>
  <a href="/Mitteilungen"{% if page.url == "/Mitteilungen.html" %}></a>
  <a href="/Zakladka"{% if page.url == "/Zakladka.html" %}></a>
  <a href="/strona dla uzytkownika"></a>
  <a href="/strona po wylogowaniu"{% if page.url == "/Strona po wylogowaniu.html" %}></a> 
</nav>
 </body>
</html>
