<nav>
  <a href="/">Home</a>
  <a href="/about.html">About</a>
  <a href="/LICENSE"style="font-size: 12px">LICENSE</a>
  <a href="/Regolamin"style="font-size: 12px">Regolamin</a>
  <a href="/Contact"style="font-size: 12px">Contakt</a>
  <a href="/Praca"style="font-size: 12px">Praca</a>
  <a href="/Forum"style="font-size: 12px">Forum</a>
  <a href="/Photolio"style="font-size: 12px">Photolio</a>
  <a href="/Zdjecia"style="font-size: 12px">Fotografia</a>
  <a href="/termsfeed-html-privacy-policy-english.html.cshtml"style="font-size: 12px">Privacy Policy</a>
  <a href="/twitter strona.cshtml"style="font-size: 12px">Twitter przegląd</a>
  <a href="/Endecken"></a>
  <a href="/Mitteilungen"></a>
  <a href="/Zakladka"></a>
  <a href="/strona dla uzytkownika"></a>
  <a href="/strona po wylogowaniu"></a> 
</nav>
