---
layout: default
title: Home
---
<!doctype html>
<html lang="de">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
         <title>{{ page.title }}</title>
        <title>{{" Meine ome!pos"}}</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png"/>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        {% include navigation.html %}
    {{ content }}
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/"><img src='http://localhost:7184/ome!pos.pgn.png'alt="..."title="ome!pos"/></a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        
                            <text>
                               <a class="email" href="~/Account/Manage" title="Manage"{% if page.url == "/Account.html"%}></a>
                                <form id="logoutForm" action="~/Account/Logout" method="post"{% if page.url == "/Account/Logout.html"%}>
                                   
                                    <a href="javascript:document.getElementById('logoutForm').submit()"></a>
                                </form>
                            </text>
                       
                    </section>
                    
                </div>
            </div>
        </header>
        <div id="body">
           
            </section>
        </div>
        <footer>
            <nav>
                
                            
                            <a href="~/"{% if page.url == "/" %}>Startseite</a>
                            <a href="~/About"{% if page.url == "/about.html"%}style="font-size: 12px">Info</a>
                            <a href="LICENSE"{% if page.url == "/License.html"%}style="font-size: 12px">LICENSE</a>
                            <a href="~/Regolamin"{% if page.url == "/Regolamin.html"%}style="font-size: 12px">Regolamin</a>
                            <a href="~/Contact"{% if page.url == "/Contact.html"%}style="font-size: 12px">Contakt</a>
                            <a href="~/Praca"{% if page.url == "/Praca.html"%}style="font-size: 12px">Praca</a>
                            <a href="~/Forum"{% if page.url == "/Forum.html"%}style="font-size: 12px">Forum</a>
                            <a href="~/Photolio"{% if page.url == "/Photolio.html"%}style="font-size: 12px">Photolio</a>
                            <a href="~/Zdjecia"{% if page.url == "/Zdjecia.html"%}style="font-size: 12px">Fotografia</a>
                            <a href="~/termsfeed-html-privacy-policy-english.html.cshtml"{% if page.url == "/privacy policy.html"%}style="font-size: 12px">Privacy Policy</a>
                            <a href="~/twitter strona.cshtml"{% if page.url == "/twitter.html"%}style="font-size: 12px">Twitter przegląd</a>
                            <a href="~/Endecken"{% if page.url == "/Enddeken.html"&}></a>
                            <a href="~/Mitteilungen"{% if page.url == "/Mitteilungen.html"%}></a>
                            <a href="~/Zakladka"{% if page.url == "/Zakladka.html"%}></a>
                            <a href="~/strona dla uzytkownika"{% if page.url == "/strona dla uzytkownika.html"%}></a>
                            <a href="~/strona po wylogowaniu"{% if page.url == "/strona po wylogowaniu.html"%}></a>  
                     
                        </nav>
           
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5012968b5be75853" async="async"></script>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<iframe src="https://www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fgrazyna.selbach&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" style="border:none; overflow:hidden; width:450px; height:80px;"></iframe>        
</div>               
<!-- Fügen Sie dieses Tag in den head-Abschnitt oder direkt vor dem schließenden body-Tag ein. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'de'}
</script>
<!-- Fügen Sie dieses Tag an der Stelle ein, an der die +1-Schaltfläche erscheinen soll. -->

<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-501295fb2e635c15"></script>
<!-- AddThis Button END -->
<!--Go to www.ad<!-- Go to www.addthis.com/dashboard to customize your tool--><div class="addthis_native_toolbox"></div>
                </div>
        </footer>
       
    </body>
</html>
