@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Konto gesperrt";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Ihr Konto wurde wegen einer zu hohen Anzahl ungültiger Anmeldeversuche gesperrt.</h2>
</hgroup>

<p>
    Bitte warten, das Konto wird in 60 Sekunden automatisch wieder entsperrt. 
    Wiederholen Sie den Vorgang anschließend.
</p>