@{
    // Layoutseite und Seitentitel festlegen
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Anmeldefehler";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Nicht erfolgreiche Anmeldung beim Dienst.</h2>
</hgroup>
