<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="description_ome!pos_spolecznosc_kontakty"/>
<link href="~/animated_favicon1.gif" rel="animated_favicon1 icon" type="image/x-icon"/>
 <link href="~/animated_favicon1.gif" rel="animated_favicon1 icon" type="image/x-icon"/>
 <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png"/>
  </head>
  <body>
    <h1>ome!pos</h1>
    {% include navigation.html %}
    {{ content }}
    

    <img src="screenshot-2.png" alt="Images/ome!posLogo.png"style="margin: 0px 0px 0px 60px"/>
    <p>Twórz wizualny świat</p>
                   <nav>
                           
                                <a href="/Account/Register"{% if page.url == "/Account.html" %}style="margin-top:-1px;margin-left: 120px;background-color:#0026ff;width: 200px;border: 1px solid red;border-radius: 5px 5px 5px 5px;float: left;">Registrieren</a>  

                               <a href="/Account/Login"{% if page.url == "/Account/Login.html" %}style="margin-top: 10px; margin-left: 120px; background-color: #0026ff; width: 200px; border: 1px solid red; border-radius: 5px 5px 5px 5px; float: left;">Anmelden</a>                                    
                 <nav>
                       
                            <a href="/"{% if page.url == "/" %}>Startseite</a>
                            <a href="/About"{% if page.url == "/About.html" %}>Info</a>
                            <a href="/Contact"{% if page.url == "/Contact.html" %}>Contakt</a>
                            <a href="/About"{% if page.url == "/About.html" %}>About</a>
                            <a href="/Regolamin"{% if page.url == "/Regolamin.html" %}>Regolamin</a>
                            <a href="/LICENSE"{% if page.url == "/License.html" %}>LICENSE</a>
                            <a href="/Praca"{% if page.url == "/Ptaca.html" %}>Praca</a>
                            <a href="/Forum"{% if page.url == "/Forum.html" %}>Forum</a>
                            <a href="/Photolio"{% if page.url == "/Photolio.html" %}>Photolio</a>
                            <a href="/termsfeed-html-privacy-policy-english.html.cshtml"{% if page.url == "/privacy policy.html" %}>Privacy Policy</a>
                            <a href="/twitter strona.cshtml"{% if page.url == "/twitter.html" %}>Twitter przegląd</a>
                      
                       </nav>
                   </div>
          </div>
    </footer>
 
            <div class="content-wrapper"></div>
                <div class="float-left">
                    
                    </div>
          

        </body>
</html>
