<nav>
  <a href="#Home">Home</a>
  <a href="#about.html">About</a>
  <a class="email" href="#Account/Manage" title="Manage"{% if page.url == "/Account.html"%}></a>
<form id="logoutForm" action="#Account/Logout" method="post"{% if page.url == "/Account/Logout.html"%}>
 
<a class="email" href="#Account/Manage" title="Manage"{% if page.url == "/Account.html"%}></a>
<a href="~/"{% if page.url == "/" %}>Startseite</a>

<a href="#About"{% if page.url == "/about.html"%}style="font-size: 12px">Info</a>

<a href="#LICENSE"{% if page.url == "/License.html"%}style="font-size: 12px">LICENSE</a>

<a href="#Regolamin"{% if page.url == "/Regolamin.html"%}style="font-size: 12px">Regolamin</a>

<a href="#Contact"{% if page.url == "/Contact.html"%}style="font-size: 12px">Contakt</a>

<a href="#Praca"{% if page.url == "/Praca.html"%}style="font-size: 12px">Praca</a>

<a href="#Forum"{% if page.url == "/Forum.html"%}style="font-size: 12px">Forum</a>

<a href="#Photolio"{% if page.url == "/Photolio.html"%}style="font-size: 12px">Photolio</a>

<a href="#Zdjecia"{% if page.url == "/Zdjecia.html"%}style="font-size: 12px">Fotografia</a>

<a href="#termsfeed-html-privacy-policy-english.html.cshtml"{% if page.url == "/privacy policy.html"%}style="font-size: 12px">Privacy Policy</a>

<a href="#twitter strona.cshtml"{% if page.url == "/twitter.html"%}style="font-size: 12px">Twitter przeglad</a>
<a href="~/Endecken"{% if page.url == "/Enddeken.html"&}></a>

<a href="#Mitteilungen"{% if page.url == "/Mitteilungen.html"%}></a>

<a href="#Zakladka"{% if page.url == "/Zakladka.html"%}></a>

<a href="#strona dla uzytkownika"{% if page.url == "/strona dla uzytkownika.html"%}></a>

<a href="#strona po wylogowaniu"{% if page.url == "/strona po wylogowaniu.html"%}></a>
</nav>
